@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root{
	--border-color: #C4C4C4;
	--shadow-color: #F6F8FA;
	--primary-color: #0069B4;
}

body{
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	font-family: Lato, sans-serif;
}


#__nuxt{
	width: 100vw;
}

.container{
	width: 100%;
	max-width: 1320px;
	padding: 0 1rem;
	margin: 0 auto;
}